<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.main.matchy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.screens.matchy.RemoteApplicationAccess"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.screens.matchy.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.screens.matchy.MainScreenUser"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
                <activity
            android:name="com.screens.matchy.MatchScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.screens.matchy.ProfileScreenPersonal"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
                <activity
            android:name="com.screens.matchy.DetailScreen"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
                <activity
            android:name="com.screens.matchy.ProfileScreen_User"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
                <activity
            android:name="com.screens.matchy.ProfileScreen_Company"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.screens.matchy.ProfileScreen_Edu"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.screens.matchy.ProfileScreen_Work"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.screens.matchy.MainScreenCompany"
            android:configChanges="keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.screens.matchy.SearchScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.screens.matchy.SearchResultScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.soaps.matchy.CallSoapLogin"
            android:label="@string/title_activity_call_soap" >
        </activity>
    </application>

</manifest>